<?xml version="1.0" encoding ="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace ="itsuda.projectManagement">

	<select id ="getTime" resultType="string">
		SELECT SYSDATE()
	</select>
	
	<select id ="projectYear" resultType="com.itsuda.projectManagement.vo.projectVO">
<!-- 	SELECT  -->
<!--     	DISTINCT PRO_YEAR -->
<!-- 	FROM  -->
<!-- 		TB_PROJECT -->
<!-- 	ORDER BY PRO_YEAR DESC -->
	SELECT 
		DISTINCT PRO_YEAR
		,count(if(PRO_STATUS='P', PRO_STATUS, null)) as PCOUNT
        ,count(if(PRO_STATUS='E', PRO_STATUS, null)) as ECOUNT
	FROM 
		TB_PROJECT
	GROUP BY PRO_YEAR
	ORDER BY PRO_YEAR DESC;
	</select>
	
	<select id ="projectList" resultType="com.itsuda.projectManagement.vo.projectVO"> 
	SELECT 
    	PRO_TITLE
   	 	,PRO_STATUS
	FROM 
		TB_PROJECT
	WHERE
		PRO_YEAR = #{proYear} AND PRO_STATUS = #{proStatus} AND DELFLAG = 'N'

 
	</select>
	
	<insert id="createProject">
	 INSERT INTO TB_PROJECT(
		PRO_YEAR
        ,PRO_TITLE
        ,PRO_STATUS
        ,REGISTRANT
        )
        VALUES(
        #{proYear}
        ,#{proTitle}
        ,#{proStatus}
        ,#{registrant}
        )
	</insert>
	
</mapper>