<?xml version="1.0" encoding ="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace ="itsuda.projectManagement">

	<select id ="getTime" resultType="string">
		SELECT SYSDATE()
	</select>
	
	<select id ="projectYear" resultType="com.itsuda.projectManagement.vo.projectVO">
<!-- 	SELECT  -->
<!--     	DISTINCT PRO_YEAR -->
<!-- 	FROM  -->
<!-- 		TB_PROJECT -->
<!-- 	ORDER BY PRO_YEAR DESC -->
	SELECT 
		DISTINCT PRO_YEAR
		,count(if(PRO_STATUS='P', PRO_STATUS, null)) as PCOUNT
        ,count(if(PRO_STATUS='E', PRO_STATUS, null)) as ECOUNT
	FROM 
		TB_PROJECT
	GROUP BY PRO_YEAR
	ORDER BY PRO_YEAR DESC;
	</select>
	
	<select id ="projectList" resultType="com.itsuda.projectManagement.vo.projectVO"> 
	SELECT 
		SEQ
    	,PRO_TITLE
   	 	,PRO_STATUS
	FROM 
		TB_PROJECT
	WHERE
		PRO_YEAR = #{proYear} AND PRO_STATUS = #{proStatus} AND DELFLAG = 'N'
	</select>
	
	<insert id="createProject">
	 INSERT INTO TB_PROJECT(
		PRO_YEAR
        ,PRO_TITLE
        ,PRO_STATUS
        ,REGISTRANT
        )
        VALUES(
        #{proYear}
        ,#{proTitle}
        ,#{proStatus}
        ,#{registrant}
        )
	</insert>
	
	<select id ="subMainList" resultType="com.itsuda.projectManagement.vo.projectVO"> 
	SELECT 
		SEQ
		,PRO_TITLE
		,DESCRIPTION
		,START_DT
		,END_DT
		,QUARTER
	FROM 
		TB_PROJECT
	WHERE
		SEQ=#{seq} AND DELFLAG = 'N'
	</select>
	
	<update id="subMainModify">
	UPDATE 
		TB_PROJECT  
	SET 
		PRO_TITLE 		= #{proTitle}
		,DESCRIPTION 	= #{description}
		,START_DT		= #{startDt}
		,END_DT			= #{endDt}
	WHERE 
		SEQ = #{seq}
	</update>
	
	<insert id="iconFileInsert">
		INSERT INTO
		TB_PROJECT_FILE (UP_SEQ, FILE_NAME, FILE_REAL_NAME, FILE_PATH)
		VALUES (#{seq},#{fileName},#{fileRealName},#{filePath})
	</insert>
	
	
	<select id ="iconFileLoad" resultType="String"> 
	SELECT 
		FILE_NAME
	FROM 
		TB_PROJECT_FILE
	WHERE
		UP_SEQ=#{seq} AND DELFLAG = 'N'
	</select>
	
	<update id="iconDelete">
	UPDATE 
		TB_PROJECT_FILE 
	SET 
		DELFLAG = 'Y'
	WHERE 
		UP_SEQ = #{seq}
	</update>
	
	
	<select id ="projectTerm" resultType="com.itsuda.projectManagement.vo.projectVO"> 
	SELECT 
		START_DT
		, END_DT 
	FROM 
		TB_PROJECT 
	WHERE 
		SEQ = #{proSeq} AND DELFLAG = 'N'
	</select>
	
	
	<update id="quarterUpdate">
	UPDATE 
		TB_PROJECT  
	SET 
		QUARTER 	= #{quarter}
	WHERE 
		SEQ = #{seq}
	</update>
	
	<select id="proQuarterCnt" resultType="Integer">
	SELECT 
		QUARTER 
	FROM 
		TB_PROJECT 
	WHERE 
		SEQ = #{proSeq}
	</select>
	
	<update id="insertQuarterProgress">
	UPDATE
		QUARTER_PROGRESS 
	SET 
		1_QUARTER = #{quarter1} 
		,2_QUARTER = #{quarter2} 
		,3_QUARTER = #{quarter3} 
		,4_QUARTER = #{quarter4} 
		,5_QUARTER = #{quarter5} 
		,6_QUARTER = #{quarter6} 
		,7_QUARTER = #{quarter7} 
		,8_QUARTER = #{quarter8} 
		,9_QUARTER = #{quarter9} 
		,10_QUARTER = #{quarter10} 
		,11_QUARTER = #{quarter11} 
		,12_QUARTER = #{quarter12} 
	WHERE 
		UP_SEQ = #{proSeq}
	</update>
	
	<select id="quarterList" resultType="com.itsuda.projectManagement.vo.projectVO">
	SELECT
		UP_SEQ AS proSeq
		,1_QUARTER as quarter1
		,2_QUARTER as quarter2
		,3_QUARTER as quarter3
		,4_QUARTER as quarter4
		,5_QUARTER as quarter5
		,6_QUARTER as quarter6
		,7_QUARTER as quarter7
		,8_QUARTER as quarter8 
		,9_QUARTER	as quarter9
		,10_QUARTER as quarter10
		,11_QUARTER as quarter11
		,12_QUARTER as quarter12
	 FROM QUARTER_PROGRESS WHERE UP_SEQ = #{proSeq}
	</select>
	
	
	<insert id="creatQuarter" >
	   INSERT INTO QUARTER_PROGRESS (
           UP_SEQ
        ) VALUES (
           #{seq}
        )
	</insert>
	
	<select id="createdProjectSeq" resultType="Integer">
	SELECT SEQ FROM TB_PROJECT WHERE PRO_TITLE = #{proTitle}
	</select>
	
</mapper>