<?xml version="1.0" encoding ="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace ="itsuda.community">

	<select id ="getTime" resultType="string">
		SELECT SYSDATE()
	</select>
	
	<select id ="listSearch" resultType="com.itsuda.community.vo.CommunityVO">
	SELECT
		@ROWNUM:=@ROWNUM+1 AS NO
		, A.SEQ
		, A.TITLE
		, A.WRITER
		, A.CRT_DT
		, A.VIEW_CNT
        ,TEAM
		FROM TB_COMMUNITY A
		, (SELECT @ROWNUM:=0) B
		WHERE
		TEAM = ${team} AND DELFLAG = 'N' AND
		(title LIKE CONCAT('%', #{keyword}, '%') 
		OR writer LIKE CONCAT('%', #{keyword}, '%')
		OR DESCRIPTION LIKE CONCAT('%', #{keyword}, '%'))
		ORDER BY NO DESC
		LIMIT #{pageStart}, #{perPageNum}
	</select>
	
	
	
	
	<select id ="countPage" resultType="int">
	SELECT
	COUNT(SEQ)
	FROM
	TB_COMMUNITY
	WHERE
	SEQ> 0 AND DELFLAG = 'N' AND TEAM = ${team}
	AND (
		title LIKE CONCAT('%', #{keyword}, '%') 
		OR writer LIKE CONCAT('%', #{keyword}, '%')
		OR DESCRIPTION LIKE CONCAT('%', #{keyword}, '%')
		)
	</select>

	
	<select id="detailBoard" parameterType="java.lang.Integer" resultType="com.itsuda.community.vo.CommunityVO">
			SELECT 
				SEQ
				,TITLE
				,WRITER
				,DESCRIPTION
				,CRT_DT
				,VIEW_CNT
				,LAST_DT
            FROM
                TB_COMMUNITY
            WHERE
                SEQ = #{seq}
	</select>
	

	<update id="updateViewCnt" parameterType="java.lang.Integer">
		 	UPDATE
		 		TB_COMMUNITY
		 	SET
		 	 	VIEW_CNT = VIEW_CNT + 1
		 	 WHERE
		 	 	SEQ = #{seq}
	</update>
	
	<insert id="insertBoard" parameterType="com.itsuda.community.vo.CommunityVO" useGeneratedKeys="true" keyProperty="seq" >
		INSERT INTO TB_COMMUNITY (
				SEQ
				,WRITER
				,TITLE
				,GRADE
				,DESCRIPTION
				,TEAM
				,LAST_DT
		)
		VALUES(
		#{seq}
		,#{writer}
		,#{title}
		,'1'				
		,#{description}
		,#{team}
		,now()
		)	
	</insert>
	
	<insert id="fileInsert" parameterType="com.itsuda.community.vo.FileVO">
		INSERT INTO
		TB_COMMUNITY_FILE (UP_SEQ, FILE_NAME, FILE_REAL_NAME, FILE_PATH)
		VALUES (#{seq},#{fileName},#{fileRealName},#{filePath})
	</insert>
	
	<select id="fileDetail" parameterType="int" resultType="com.itsuda.community.vo.FileVO">
		SELECT * FROM TB_COMMUNITY_FILE WHERE UP_SEQ=#{seq} AND DELFLAG = 'N';
	</select>
	
	<select id="fileDownload" parameterType="map" resultType="com.itsuda.community.vo.FileVO">
		SELECT * FROM TB_COMMUNITY_FILE WHERE UP_SEQ=#{upSeq} AND SEQ=#{seq} AND DELFLAG = 'N';
	</select>
	
	<update id="fileDelete" parameterType="map" >
		UPDATE
			TB_COMMUNITY_FILE
		SET
			DELFLAG = 'Y'
			,LAST_DT = now()
		WHERE 
			UP_SEQ=#{upSeq} 
			AND SEQ=#{seq};
	</update>
	
	<update id="fileDeleteAll" parameterType="Integer" >
		UPDATE
			TB_COMMUNITY_FILE
		SET
			DELFLAG = 'Y'
			,LAST_DT = now()
		WHERE 
			UP_SEQ=#{seq}
	</update>
	
	<update id="fileDownloadCnt" parameterType="Integer" >
		UPDATE
			TB_COMMUNITY_FILE
		SET
			DOWN_CNT = DOWN_CNT + 1
		WHERE 
			UP_SEQ=#{upSeq} 
			AND SEQ=#{seq};
	</update>
	

	<delete id="deleteBoard" parameterType="java.lang.Integer" >
		UPDATE
			TB_COMMUNITY
		SET
		DELFLAG = 'Y'
		,LAST_DT = now()
		WHERE SEQ = #{seq}
	</delete>
	
	<select id="getBoard" parameterType="java.lang.Integer" resultType="com.itsuda.community.vo.CommunityVO">
	SELECT 
		TITLE
		,WRITER
		,DESCRIPTION
	FROM
		TB_COMMUNITY
	WHERE SEQ = #{seq }
	</select>
	
	<update id="updateBoard" parameterType="com.itsuda.community.vo.CommunityVO">
	UPDATE 
		TB_COMMUNITY
	SET
		TITLE = #{title }
		,DESCRIPTION = #{description }
	WHERE SEQ = #{seq }
	</update>
	
	<select id ="lastestPageNum" resultType="com.itsuda.community.vo.CommunityVO">
	SELECT 
		a.ID as team
		, IFNULL(count(b.team),0) as lastestPageNum
	from 
		TB_CODE a
	Left join 
		TB_COMMUNITY b on b.TEAM = a.ID and 
		b.LAST_DT > date_sub(now(),interval 7 day)
		AND DELFLAG = 'N'
	Where 
		a.CATEGORY ='TEAM' AND a.ID != "10"
	Group by 
		b.TEAM, a.ID
	ORDER BY team ASC
	</select>
	
</mapper>