<?xml version="1.0" encoding ="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace ="itsuda.community">

	<select id ="getTime" resultType="string">
		SELECT SYSDATE()
	</select>
	
	<select id ="listSearch" resultType="com.itsuda.community.vo.CommunityVO">
	SELECT
		@ROWNUM:=@ROWNUM+1 AS NO
		, A.SEQ
		, A.TITLE
		, A.WRITER
		, A.CRT_DT
		, A.VIEW_CNT
        ,TEAM
		FROM TB_COMMUNITY A
		, (SELECT @ROWNUM:=0) B
		WHERE
		TEAM = ${team} AND DELFLAG = 'N'
		ORDER BY NO DESC,
		(title LIKE CONCAT('%', #{keyword}, '%') 
		OR writer LIKE CONCAT('%', #{keyword}, '%')
		OR DESCRIPTION LIKE CONCAT('%', #{keyword}, '%'))
		LIMIT #{pageStart}, #{perPageNum}
	</select>
	
	
	
	
	<select id ="countPage" resultType="int">
	SELECT
	COUNT(SEQ)
	FROM
	TB_COMMUNITY
	WHERE
	SEQ> 0 AND DELFLAG = 'N' AND TEAM = ${team}
	AND (
		title LIKE CONCAT('%', #{keyword}, '%') 
		OR writer LIKE CONCAT('%', #{keyword}, '%')
		OR DESCRIPTION LIKE CONCAT('%', #{keyword}, '%')
		)
	</select>
	
	
	
	
	
	
	<select id ="getList" parameterType="map" resultType="com.itsuda.community.vo.CommunityVO">
		SELECT
		  @ROWNUM:=@ROWNUM+1 AS NO
		  , A.SEQ
		  , A.TITLE
		  , A.WRITER
		  , A.CRT_DT
		  , A.VIEW_CNT
		FROM TB_COMMUNITY A
		, (SELECT @ROWNUM:=0) B
		WHERE TEAM = ${team} AND DELFLAG = 'N'
		ORDER BY NO DESC
	</select>
	
	
	<select id="detailBoard" parameterType="java.lang.Integer" resultType="com.itsuda.community.vo.CommunityVO">
			SELECT 
				SEQ
				,TITLE
				,WRITER
				,DESCRIPTION
				,CRT_DT
				,VIEW_CNT
				,LAST_DT
            FROM
                TB_COMMUNITY
            WHERE
                SEQ = #{seq}
	</select>
	

	<update id="updateViewCnt" parameterType="java.lang.Integer">
		 	UPDATE
		 		TB_COMMUNITY
		 	SET
		 	 	VIEW_CNT = VIEW_CNT + 1
		 	 WHERE
		 	 	SEQ = #{seq}
	</update>
	
	<insert id="insertBoard" parameterType="com.itsuda.community.vo.CommunityVO">
		INSERT INTO TB_COMMUNITY (
				WRITER
				,TITLE
				,GRADE
				,DESCRIPTION
				,TEAM
				,LAST_DT
		)
		VALUES(
		#{writer}
		,#{title}
		,'1'				
		,#{description}
		,#{team}
		,now()
		)	
	</insert>
	

	<delete id="deleteBoard" parameterType="java.lang.Integer" >
		UPDATE
			TB_COMMUNITY
		SET
		DELFLAG = 'Y'
		,LAST_DT = now()
		WHERE SEQ = #{seq}
	</delete>
	
	<select id="getBoard" parameterType="java.lang.Integer" resultType="com.itsuda.community.vo.CommunityVO">
	SELECT 
		TITLE
		,WRITER
		,DESCRIPTION
	FROM
		TB_COMMUNITY
	WHERE SEQ = #{seq }
	</select>
	
	<update id="updateBoard" parameterType="com.itsuda.community.vo.CommunityVO">
	UPDATE 
		TB_COMMUNITY
	SET
		TITLE = #{title }
		,WRITER = #{writer }
		,DESCRIPTION = #{description }
	WHERE SEQ = #{seq }
	</update>
	
</mapper>