<?xml version="1.0" encoding ="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace ="itsuda.issueManageBoard">

	<select id ="getTime" resultType="string">
		SELECT SYSDATE()
	</select>
	
	<select id ="listSearch" resultType="com.itsuda.issueManageBoard.vo.IsBoardVO">
	SELECT
		@ROWNUM:=@ROWNUM+1 AS NO
		, A.SEQ
		, A.TITLE
		, A.WRITER
		, A.CRT_DT
		, A.VIEW_CNT
		, A.STATUS
		FROM TB_PROJECT_ISSUEMANAGE A
		, (SELECT @ROWNUM:=0) B
		WHERE
		DELFLAG = 'N' AND PRO_SEQ = ${proSeq} AND
		(title LIKE CONCAT('%', #{keyword}, '%') 
		OR writer LIKE CONCAT('%', #{keyword}, '%')
		OR DESCRIPTION LIKE CONCAT('%', #{keyword}, '%'))
		ORDER BY NO DESC
		LIMIT #{pageStart}, #{perPageNum}
	</select>
	
	<select id ="countPage" resultType="int">
	SELECT
	COUNT(SEQ)
	FROM
	TB_PROJECT_ISSUEMANAGE
	WHERE
	SEQ> 0 AND DELFLAG = 'N' AND PRO_SEQ=#{proSeq}
	AND (
		title LIKE CONCAT('%', #{keyword}, '%') 
		OR writer LIKE CONCAT('%', #{keyword}, '%')
		OR DESCRIPTION LIKE CONCAT('%', #{keyword}, '%')
		)
	</select>

	
	<select id="detailBoard" parameterType="java.lang.Integer" resultType="com.itsuda.issueManageBoard.vo.IsBoardVO">
			SELECT 
				SEQ
				,TITLE
				,WRITER
				,DESCRIPTION
				,CRT_DT
				,VIEW_CNT
				,LAST_DT
				,STATUS
            FROM
                TB_PROJECT_ISSUEMANAGE
            WHERE
                SEQ = #{seq}
	</select>
	

	<update id="updateViewCnt" parameterType="java.lang.Integer">
		 	UPDATE
		 		TB_PROJECT_ISSUEMANAGE
		 	SET
		 	 	VIEW_CNT = VIEW_CNT + 1
		 	 WHERE
		 	 	SEQ = #{seq}
	</update>
	
	<insert id="insertBoard" parameterType="com.itsuda.issueManageBoard.vo.IsBoardVO" useGeneratedKeys="true" keyProperty="seq" >
		INSERT INTO TB_PROJECT_ISSUEMANAGE (
				SEQ
				,PRO_SEQ
				,WRITER
				,TITLE
				,GRADE
				,DESCRIPTION
				,LAST_DT
		)
		VALUES(
		#{seq}
		,#{proSeq}
		,#{writer}
		,#{title}
		,'1'				
		,#{description}
		,now()
		)	
	</insert>
	
	<insert id="fileInsert" parameterType="com.itsuda.issueManageBoard.vo.IsBoardFileVO">
		INSERT INTO
		TB_PROJECT_ISSUEMANAGE_FILE (UP_SEQ, PRO_SEQ, FILE_NAME, FILE_REAL_NAME, FILE_PATH)
		VALUES (#{seq}, #{proSeq}, #{fileName},#{fileRealName},#{filePath})
	</insert>
	
	<select id="fileDetail" parameterType="int" resultType="com.itsuda.issueManageBoard.vo.IsBoardFileVO">
		SELECT * FROM TB_PROJECT_ISSUEMANAGE_FILE WHERE UP_SEQ=#{seq} AND DELFLAG = 'N';
	</select>
	
	<select id="fileDownload" parameterType="map" resultType="com.itsuda.issueManageBoard.vo.IsBoardFileVO">
		SELECT * FROM TB_PROJECT_ISSUEMANAGE_FILE WHERE UP_SEQ=#{upSeq} AND SEQ=#{seq} AND DELFLAG = 'N';
	</select>
	
	<update id="fileDelete" parameterType="map" >
		UPDATE
			TB_PROJECT_ISSUEMANAGE_FILE
		SET
			DELFLAG = 'Y'
			,LAST_DT = now()
		WHERE 
			UP_SEQ=#{upSeq} 
			AND SEQ=#{seq};
	</update>
	
	<update id="fileDeleteAll" parameterType="Integer" >
		UPDATE
			TB_PROJECT_ISSUEMANAGE_FILE
		SET
			DELFLAG = 'Y'
			,LAST_DT = now()
		WHERE 
			UP_SEQ=#{seq}
	</update>
	
	<update id="fileDownloadCnt" parameterType="Integer" >
		UPDATE
			TB_PROJECT_ISSUEMANAGE_FILE
		SET
			DOWN_CNT = DOWN_CNT + 1
		WHERE 
			UP_SEQ=#{upSeq} 
			AND SEQ=#{seq};
	</update>
	

	<delete id="deleteBoard" parameterType="java.lang.Integer" >
		UPDATE
			TB_PROJECT_ISSUEMANAGE
		SET
		DELFLAG = 'Y'
		,LAST_DT = now()
		WHERE SEQ = #{seq}
	</delete>
	
	<select id="getBoard" parameterType="java.lang.Integer" resultType="com.itsuda.issueManageBoard.vo.IsBoardVO">
	SELECT 
		TITLE
		,WRITER
		,DESCRIPTION
	FROM
		TB_PROJECT_ISSUEMANAGE
	WHERE SEQ = #{seq }
	</select>
	
	<update id="updateBoard" parameterType="com.itsuda.issueManageBoard.vo.IsBoardVO">
	UPDATE 
		TB_PROJECT_ISSUEMANAGE
	SET
		TITLE = #{title }
		,DESCRIPTION = #{description }
	WHERE SEQ = #{seq }
	</update>
	
	<update id="updateStatus" parameterType="com.itsuda.issueManageBoard.vo.IsBoardVO">
	UPDATE 
		TB_PROJECT_ISSUEMANAGE
	SET
		STATUS = #{status }
	WHERE SEQ = #{seq }
	</update>
	
</mapper>