<?xml version="1.0" encoding ="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace ="itsuda.calendar">

	<select id ="getTime" resultType="string">
		SELECT SYSDATE()
	</select>
	<!-- 현재 시간(용도 확인 필요) -->
	<!--
	<select id ="getTime" resultType="string">
		select now()
	</select>
	-->
	<!-- link insert -->
	<!--
	<insert id="insertLink" parameterType="HashMap" useGeneratedKeys="true" keyProperty="id">
	INSERT INTO 
	<choose>
		<when test="mode == 'WEB'">
			LIBRARY_WEB
		</when>
		<when test="mode == 'MOBILE'">
			LIBRARY_MOBILE
		</when>
		<when test="mode == 'DESIGN'">
			LIBRARY_DESIGN
		</when>
		<when test="mode == 'PLAN'">
			LIBRARY_PLAN
		</when>
	</choose>
	(TITLE, URL, AUTHOR, DESCRIPTION, HASH_LINK, RANK, F_NAME, ORG_F_NAME, CRT_DT, LAST_DT, FLAG) 
	VALUES
	(#{lib.title}
	,#{lib.url}
	,#{lib.author}
	,#{lib.description}
	,#{lib.hash_link}
	,#{lib.rank}
	,#{lib.f_name}
	,#{lib.org_f_name}
	,#{lib.crt_dt}
	,#{lib.crt_dt}
	,'T')
	<selectKey keyProperty="id" resultType="int" order="BEFORE">
		SELECT LAST_INSERT_ID()
	</selectKey>
	</insert>
	-->
	<!-- 팀별 라이브러리 링크 최초 SELECT -->
	<!--
	<select id ="selectLink" parameterType="Map" resultType="com.itsuda.library.vo.LibraryVO">	
	SELECT 
		* 
	FROM 
	<choose>
		<when test="mode == 'WEB'">
			LIBRARY_WEB
		</when>
		<when test="mode == 'MOBILE'">
			LIBRARY_MOBILE
		</when>
		<when test="mode == 'DESIGN'">
			LIBRARY_DESIGN
		</when>
		<when test="mode == 'PLAN'">
			LIBRARY_PLAN
		</when>
	</choose>
	WHERE 
		SEQ <![CDATA[<=]]> #{seq}
	AND
		FLAG = 'T'
	</select>
	-->
<!-- 팀별 라이브러리 링크 스크롤 추가 SELECT -->
<!--
	<select id ="selectLinkAjax" parameterType="Map" resultType="com.itsuda.library.vo.LibraryVO">	
	SELECT 
		* 
	FROM 
	<choose>
		<when test="mode == 'WEB'">
			LIBRARY_WEB
		</when>
		<when test="mode == 'MOBILE'">
			LIBRARY_MOBILE
		</when>
		<when test="mode == 'DESIGN'">
			LIBRARY_DESIGN
		</when>
		<when test="mode == 'PLAN'">
			LIBRARY_PLAN
		</when>
	</choose>
	WHERE 
		SEQ <![CDATA[<=]]> #{seq}
	AND
		SEQ <![CDATA[>]]> #{amount}
	AND
		FLAG = 'T'
	</select>
	-->
<!-- by ym 2018-07-04 라이브러리 삭제 기능 추가 (flag = false 설정) -->
<!--
	<update id="deleteLink" parameterType="HashMap" useGeneratedKeys="true" keyProperty="id">
	UPDATE
	<choose>
		<when test="mode == 'WEB'">
			LIBRARY_WEB
		</when>
		<when test="mode == 'MOBILE'">
			LIBRARY_MOBILE
		</when>
		<when test="mode == 'DESIGN'">
			LIBRARY_DESIGN
		</when>
		<when test="mode == 'PLAN'">
			LIBRARY_PLAN
		</when>
	</choose>
	SET 
		FLAG <![CDATA[=]]> 'F'
	WHERE 
		SEQ <![CDATA[=]]> #{seq}
	<selectKey keyProperty="id" resultType="int">
		SELECT LAST_INSERT_ID()
	</selectKey>
	</update>
	-->
<!-- by ym 2018-07-05 라이브러리 수정 - 페이지 조회 -->
<!--
	<select id ="editLink" parameterType="Map" resultType="com.itsuda.library.vo.LibraryVO">	
	SELECT 
		* 
	FROM 
	<choose>
		<when test="mode == 'WEB'">
			LIBRARY_WEB
		</when>
		<when test="mode == 'MOBILE'">
			LIBRARY_MOBILE
		</when>
		<when test="mode == 'DESIGN'">
			LIBRARY_DESIGN
		</when>
		<when test="mode == 'PLAN'">
			LIBRARY_PLAN
		</when>
	</choose>
	WHERE 
		SEQ <![CDATA[=]]> #{seq}
	</select>
	-->
<!-- by ym 2018-07-05 라이브러리 수정 - 수정사항 반영 -->
<!--
	<update id ="updateLink" parameterType="Map">	
	UPDATE 
	<choose>
		<when test="mode == 'WEB'">
			LIBRARY_WEB
		</when>
		<when test="mode == 'MOBILE'">
			LIBRARY_MOBILE
		</when>
		<when test="mode == 'DESIGN'">
			LIBRARY_DESIGN
		</when>
		<when test="mode == 'PLAN'">
			LIBRARY_PLAN
		</when>
	</choose>
	SET
		TITLE=#{lib.title}
		,URL=#{lib.url}
		,DESCRIPTION=#{lib.description}
		,HASH_LINK=#{lib.hash_link}
		,LAST_DT=#{lib.last_dt}
		,RANK=#{lib.rank}
		<if test="lib.f_name != null">
		,F_NAME=#{lib.f_name}
		,ORG_F_NAME=#{lib.org_f_name}
		</if>
	WHERE 
		SEQ=#{lib.seq}
	</update>
		-->
<!-- hashtag 검색 -->
<!--
	<select id ="selectLinkbyHashlink" resultType="com.itsuda.library.vo.LibraryVO">
	select * from mobLinks where hash_link = #{hashlink}
	</select>
	-->
<!-- 작성자 검색 -->
<!--
	<select id ="selectLinkbyAuthor" resultType="com.itsuda.library.vo.LibraryVO">
	select * from mobLinks where author = #{author}
	</select>
	-->
</mapper>